<section class="main bg-[#475569] h-[700px] w-screen">
  <nav class="navbar flex justify-between px-12 py-6 tablet:px-20 h-24">
    <div class="left flex gap-12 items-center justify-between w-full laptop:w-0">
      <span class="brand font-roboto text-logo text-[48px] text-brand mr-auto">mabi</span>
      <!-- <span class="font-roboto text-menu  text-brand">Home</span> -->
      <span class="menu-items">Home</span>
      <span class="menu-items">Solutions</span>
      <span class="menu-items">Pricing</span>
      <span class="menu-items">Resources</span>

    </div>
    <div class="btns flex gap-4 items-center">
      <button class="btn hidden laptop:flex">Log In</button>
      <button class="btn bg-brand text-black hidden laptop:flex">Free Launch</button>
      <img src="../assets/menu-outline.svg" alt="" class="block h-8 w-8 tablet:hidden">
    </div>
  </nav>

  <div class="laptop:grid laptop:grid-cols-2">
    <section class="wrapper flex flex-col justify-center items-center gap-8">
      <div class="flex flex-col justify-center items-center gap-2">
        <span class="font-roboto text-logo text-[#FFF] text-center leading-10">Launch Your App</span>
        <span class="font-roboto text-subheading text-[#CBD5E1] text-center">Grow Your Business</span>
      </div>
      <span class="font-roboto text-[18px] text-[#FFF] text-center">Amet nunc diam orci duis ut sit diam arcu, nec. Eleifend proin massa tincidunt viverra lectus pulvinar.</span>
      <button class="btn flex px-6 py-5 text-[24px] font-roboto ">
        <span class="px-6 text-center">Free Launch</span>
      </button>
    </section>
    <section class="img-container flex">
      <img src="../assets/Picture.svg" alt="" class="absolute z-20 w-[13.5rem] h-[8.5rem] right-52">
      <img src="../assets/iPhone1.svg" alt="" class="absolute w-[12.375rem] h-[25.063rem] z-10 -bottom-72 right-48">
      <img src="../assets/iPhone.svg" alt="" class="absolute w-[12.375rem] h-[25.125rem] z-0 -bottom-80 right-28">
    </section>
  </div>
</section>
